page-location-details {
    

}
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

.location-map-container{

    position: absolute;

    top: 37%;
    left: 0px;

    height: 63%;
    width: 100%;
}